<!DOCTYPE generatorConfiguration PUBLIC
  "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
  "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">
<generatorConfiguration>
  <context id="classic" targetRuntime="MyBatis3">
    <jdbcConnection driverClass="com.mysql.jdbc.Driver"
      connectionURL="jdbc:mysql://localhost:3306/demo" userId="root" password="root123"/>

    <javaModelGenerator targetPackage="com.github.flysium.io.example.entity"
      targetProject="src/main/java"/>

    <sqlMapGenerator targetPackage="com.github.flysium.io.example.repository"
      targetProject="src/main/resources"/>

    <javaClientGenerator type="XMLMAPPER" targetPackage="com.github.flysium.io.example.repository"
      targetProject="src/main/java"/>

    <table tableName="emp"/>

  </context>
</generatorConfiguration>