<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2020 SvenAugustus
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace 对应到 接口上 就不需要实例化了 -->
<mapper namespace="xyz.flysium.dao.repository.AccountMapper">

  <!-- POJO 对象和表之间的 字段和属性的映射关系     -->
  <resultMap type="xyz.flysium.dao.entity.Account" id="BaseResultMap">
    <!-- column 表里的字段 -->
    <!-- property 实体对象里的属性 -->
    <id column="id" property="id" javaType="int"/>
    <result column="login_name" property="loginName"/>
    <result column="password" property="password"/>
    <result column="nick_name" property="nickName"/>
    <result column="age" property="age" javaType="int"/>
    <result column="location" property="location"/>
  </resultMap>

  <select id="findAll" resultMap="BaseResultMap">
    select *
    from account
    where 1 = 1
  </select>

  <insert id="add" parameterType="xyz.flysium.dao.entity.Account">
    <!--  <insert id="add" parameterType="Account">-->  <!-- 需要配置 mybatis.type-aliases-package -->
    INSERT INTO account (login_name, password, nick_name, age, location)
    VALUES
    (
    #{loginName},#{password},#{nickName},#{age},#{location}
    )
  </insert>

</mapper>